# General
TIMEZONE=

# Authentication
USER_PASSWORD=
USER_GROUP_NAME=
USER_GROUP_ID=
SERVICES_USER=

# Paths
ROOT_PATH=
COMICS_DIR=
BOOKS_DIR=
ARTBOOKS_DIR=
MUSIC_DIR=
SERIES_DIR=
TSUNDOKU_LIBRARY_DIR=
TSUNDOKU_VIDEOS_DIR=

# Versions
TRANSMISSION_VER=
KOMGA_VER=
JELLYFIN_VER=

# Ports
WEBDAV_PORT=
TRANSMISSION_PORT=
KOMGA_PORT=
JELLYFIN_PORT=

# Configurations
TRANSMISSION_CONFIG=
TRANSMISSION_PASS=
KOMGA_CONFIG=
JELLYFIN_CONFIG=
JELLYFIN_CACHE=

