# General
TIMEZONE=
HOSTNAME_STATIC=
HOSTNAME_PRETTY=

# Authentication
USER_PASSWORD=
USER_GROUP_NAME=
USER_GROUP_ID=
SERVICES_USER=
SERVICES_PASS=
SOULSEEK_USER=
SOULSEEK_PASS=

# Paths
ROOT_PATH=
TEMP_PATH=
WAREHOUSE_PATH=
COMICS_DIR=
BOOKS_DIR=
ARTBOOKS_DIR=
MUSIC_DIR=
SERIES_DIR=
TSUNDOKU_DIR=
TSUNDOKU_LIBRARY_DIR=
TSUNDOKU_VIDEOS_DIR=

# Versions
TRANSMISSION_VER=
SOULSEEK_VER=
KOMGA_VER=
JELLYFIN_VER=

# Ports
WEBDAV_PORT=
TRANSMISSION_PORT=
SOULSEEK_PORT=
KOMGA_PORT=
JELLYFIN_PORT=

# Configurations
TRANSMISSION_CONFIG=
SOULSEEK_CONFIG=
KOMGA_CONFIG=
JELLYFIN_CONFIG=
JELLYFIN_CACHE=
